@media screen and (max-width :767px ){
  h1 {
    font-size: 1rem;
    color: var(--frontColor);
    text-align: left;
    font-weight: bold;
    
  img {
  max-width: 80%;
  
  }
  
  }
  .fixed-bg {
    height: 300px;
    background-size: cover;
    background-position: center top;
  }

  .fixed{
    background-attachment:scroll;
  }


  .mainvisual {
    height: 50vh;
    background-image:var(--Background-image);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    
  }

 
  .main-menu p {
    font-size: 1rem;
    margin-left: 2rem;

  }
  
  
  .main-menu ul{
    display: none;
  }

  .btn {
    display:inline;
  }

  .owase-text{
    flex-flow: column;
    
  }

  .info {
    width: 80%;
    margin-right: 0;
    
  }

  #OWASE {
    height: 63rem;
    background-position: 50% 70%;
    
  }

  #TAIKEN{
    height: 85rem;
  }

  #SHIGOTO{
    height: 87rem;
   
    background-position: 60% 100%;
   
  }

  #AKIYA{
    height: 55rem;
    background-position: 70% 10%;
  }

  #INTERVIEW{
    height: 60rem;
    background-position: 30% 100%;
  }

  #NEWS {
    height: 42rem;

  }
  .newstext{
    flex-direction:column
  }

  .news dt{
    width: 98%;
    text-align: left;
  }

  .news dd{
    width: 100%;
  }

  .newstext{
    width: 70%;
  }

  .addresstext ul {
    width: 50%;
  }

  .fuwafuwa {
    width: 50%;
  }

  #SAPOSEN {
    height: 65rem;
  }






}
