@media screen and (max-width :767px ){
  h1 {
    font-size: 1rem;
    color: var(--frontColor);
    text-align: left;
    font-weight: bold;
  
  }

  img {
    max-width: 80%;
    
  }

  .fixed-bg {
    height: 250px;
    background-size: cover;
    background-position: center top;
  }

  .fixed{
    background-attachment:scroll;
  }


  .mainvisual {
    height: 500px;
    background-image:var(--Background-image);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    
  }

 
  .main-menu p {
    font-size: 1rem;
    margin-left: 2rem;

  }
  
  
  .main-menu ul{
    display: none;
  }

  .btn {
    display:inline;
  }

  .owase-text{
    flex-flow: column;
    
  }

  .info {
    width: 80%;
    margin-right: 0;
    
  }

  #OWASE {
    background-position: 80% 5%;
  }

  #TAIKEN{
   
    background-position: 70% 0%;
  }

  #SHIGOTO{
    
   
    background-position: 100% 5%;
   
  }

  #AKIYA{
    
    background-position: 70% 10%;
  }

  #INTERVIEW{
    
    background-position: 30% 100%;
  }

  /*#NEWS {
    height: 42rem;

  }*/

  .newstext{
    flex-direction:column
  }

  .news dt{
    width: 98%;
    text-align: left;
  }

  .news dd{
    width: 100%;
  }

  .newstext{
    width: 70%;
  }

  .addresstext ul {
    width: 50%;
  }

  .fuwafuwa {
    width: 50%;
  }

  /*#SAPOSEN {
    height: 65rem;
  }*/

  .footerlist {
    flex-direction:column;
    
  }

  footer p {
    margin-top :3rem;
  }
  
  /* イベント一覧　*/
  
  .event {
    width: 100%;
    
  }

  .akiya-pallet,.akiya-flex {
    flex-direction:column;
  }

  .akiya-main img{
    display: none;
  }

  .owner,.user {
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .owner {
    margin-bottom: 4rem;
  }

  .pallet-action{
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 90%;
    height: 100px;
  }

  .negotiation-button {
    width: 100%;
  }

  .akiya-title{
    position: absolute;
    top: -7%;
    left: 5%;
   
  }

  .akiya-title {
    font-size: 1.2rem;

  }

  .akiya-flex p{
    font-size: 1rem;
    width: 70%;
  }

  .owner-routine{
    background-size :80px;
    background-position: 90% 80%;
  }
  
  .owner-routine p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }

  .owner-document{
    background-size:80px;
    background-position: 95% 40%;
  }
  
  .owner-document p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }

  .owner-alteration{
    background-size:70px;
    background-position: 90% 40%;
  }
  
  .owner-alteration p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }

  .owner-rule{
    background-size:65px;
    background-position: 90% 40%;
  }
  
  .owner-rule p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }

  .user-routine{
    background-size:80px;
    background-position: 90% 65%;
  }
  
  .user-routine p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }
  
  .user-document{
    background-size:80px;
    background-position: 95% 40%;
  }
  
  .user-document p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;
  }
  
  .user-search{
    background-size:70px;
    background-position: 90% 40%;
  }
  
  .user-search p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;

  }
  
  .user-rule{
    background-size:70px;
    background-position: 90% 50%;
  }
  
  .user-rule p{
    position: absolute;
    top:5%;
    left: 5%;
    font-size: 1.2rem;

  }

  .negotiation-button {
    background-size:80px;
    background-position: 85% 80%;

  }

  .negotiation-button p {
    position: absolute;
    top:5%;
    left:9.5%;
    width: 70%;
    font-size: 1.2rem;
  }

  #OWNER-RT {
    flex-direction:column;
  }

  .owner-rt-box {
    width: 100%;
    height: 110px;
  }

  .owner-rt-headline p{
    font-size:  1rem;
  }

  .owner-rt-important {
    font-size:  1rem;
   
  }

  .owner-rt-txt {
    background-position: 100% 40%;
  }

  .rt1,.rt2,.rt3,.rt4,.rt5,.rt6,.rt7,.rt8,.rt9{
    background-size: 10%;
    background-position: 1% 1%;
  }
  
  .rt1 img{
    width: 90px;
    top:7%;
    left:75%;
  }

  .rt1 p {
    top:1%;
    left:12%;
    width: 70%;
  }
  
  .rt1 a {
    top:60%;
    left:12%;
    width: 70%;
    font-size: 0.8rem;
  }

  .rt2 img{
    width: 75px;
    top:15%;
    left:75%;
  }

  .rt2 p {
    top:1%;
    left:12%;
    width: 70%;
  }
  
  .rt2 a {
    top:80%;
    left:12%;
    width: 70%;
  }

  .rt3 img{
    width: 75px;
    top:15%;
    left:75%;
  }

  .rt3 p {
    top:1%;
    left:12%;
    width: 70%;
  }
  
  .rt3 a {
    top:65%;
    left:12%;
    width: 65%;
    font-size: 0.8rem;

  }

  .rt4 img{
    width: 75px;
    top:20%;
    left:75%;
  }

  .rt4 p {
    top:1%;
    left:12%;
    width: 70%;
  }
  
  .rt4 a {
    top:65%;
    left:12%;
    width: 65%;
    font-size: 0.8rem;

  }
  
  .rt5 img{
    width: 80px;
    top:12%;
    left:75%;
  }

  .rt5 p {
    top:1%;
    left:12%;
    width: 70%;
  }

  .rt6 img{
    width: 90px;
    top:40%;
    left:70%;
  }

  .rt6 p {
    top:1%;
    left:12%;
    width: 70%;
  }

  .rt7 img{
    width: 90px;
    top:40%;
    left:70%;
  }

  .rt7 p {
    top:1%;
    left:12%;
    width: 70%;
  }
  
  .rt8 img{
    width: 65px;
    top:15%;
    left:75%;
  }

  .rt8 p {
    top:1%;
    left:12%;
    width: 70%;
  }

  .rt9 img{
    width: 70px;
    top:15%;
    left:75%;
  }

  .rt9 p {
    top:1%;
    left:12%;
    width: 70%;
  }

  .rt10 {
   height: 160px;
  }
  
  .rt10 img{
    height: 70px;
    top:20%;
    left:73%;
  }
  
  .rt10 p{
   width: 80%;
  }

  .owner-dm-box {
    width: 100%;
    height: 100px;
  }

  .dm-box-img1 {
    width: 60px;
    left:10%;
    top: 32%;
  }
  .dm-box-img2 {
    width: 130px;
    left:55%;
  }

  .owner-dm-box a p{
    position: absolute;
    top:40%;
    left:25%;
    font-size: 0.8rem;
  }

  .owner-dm-box a span {
    top:65%;
    font-size: 0.8rem;
    left:55%;
  }

  .owner-al-1{
    flex-direction: column;

  }

  .owner-al-box,.owner-al-box2 {
    width: 100%;
  }

  .owner-al-title{
    margin-top: 5rem;
  }

  .owner-al-box {
    height: 100px;
    background-position: 1% 1%;
    background-size: 10%;
  }

  .owner-al-box p{
    padding-left: 12%;
    padding-top: 2%;
    font-size: 1rem;
    width: 73%;
  } 

  .al1 img{
    width: 70px;
    position: absolute;
    left: 75%;
    top:8%;
  }

  .al1 span {
    position: absolute;
    left :12%;
    top:75%;
    font-size: 0.8rem;

  }

  .al2 img{
    width: 90px;
    position: absolute;
    left: 72%;
    top:25%;
  }

  .al3 img{
    width: 80px;
    position: absolute;
    left: 75%;
    top:10%;
  }

  .al4 img{
    width: 70px;
    position: absolute;
    left: 75%;
    top:8%;
  }

  .al4 span {
    position: absolute;
    left :12%;
    top:75%;
    font-size: 0.8rem;

  }


  #OWNER-AL h3{
    font-size: 1.2rem;
    line-height: 1.2;
  }

  #USER-RT {
    flex-direction: column;
  }
  
  .user-rt-box {
    width: 100%;
    height: 100px;
    background-position: 1% 1%;
    background-size: 10%;
    padding-top:0.3rem;

  }

  .user-rt-box p{
    padding-left: 10%;
    font-size: 1rem;
    width: 73%;
   }

   .u-rt1 img{
    width: 70px;
    position: absolute;
    top: 8%;
    left: 72%;
  }

  .u-rt1 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt2 img{
    width: 60px;
    position: absolute;
    top: 20%;
    left: 75%;
  }

  .u-rt2 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:70%;
    font-size: 0.8rem;
  }

  .u-rt3 img{
    width: 60px;
    position: absolute;
    top: 15%;
    left: 75%;
  }

  .u-rt3 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt3-spn {
   left: 5%;
   font-size: 0.8rem;
  }

  .u-rt3-sp {
    top:75%;
    left: 40%;
  }

  .u-rt4 img{
    width: 80px;
    position: absolute;
    top: 20%;
    left: 75%;
  }

  .u-rt4 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:70%;
    font-size: 0.8rem;
  }

  .u-rt5 img{
    width: 80px;
    position: absolute;
    top: 10%;
    left: 75%;
  }

  .u-rt6 img{
    width: 60px;
    position: absolute;
    top: 15%;
    left: 75%;
  }

  .u-rt6 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt7 img{
    width: 70px;
    position: absolute;
    top: 15%;
    left: 75%;
  }

  .u-rt7 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt8 img{
    width: 75px;
    position: absolute;
    top: 25%;
    left: 75%;
  }

  .u-rt8 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt9 img{
    width: 75px;
    position: absolute;
    top: 15%;
    left: 75%;
  }

  .u-rt10 img{
    width: 60px;
    position: absolute;
    top: 5%;
    left: 75%;
  }

  .u-rt10 span {
    width: 65%;
    position: absolute;
    left: 12%;
    top:55%;
    font-size: 0.8rem;
  }

  .u-rt11 {
    width: 100%;
  }
  
  



}