img {
    max-width: 100%;
  }
  
  
  /*共通CSS*/
  body {
      font-family: 'Sawarabi Gothic', sans-serif;
      width: 100%;
      line-height: 1.7;
      
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  

/*　オープニングCSS　--------------------------------------------------------------*/

#wra {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image:url("../img/top-1.png") ;
}

.flex{
    position: absolute;
    top: 0;
    display:flex;
    flex-direction:column;
    
}
  
.box{
    width: 500px;
    padding: 20px;
    margin: 0 20px 20px 20px;
    
    color: #000000;
    box-sizing:border-box;
}
  /*==================================================
  スタート時は要素自体を透過0にするためのopacity:0;を指定する
  ===================================*/
.box{
    opacity: 0;
}
  /*==================================================
  ふわっ
  ===================================*/
  
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
}
  
  /* アニメーションスタートの遅延時間を決めるCSS*/
  
.delay-time02{
  animation-delay: 1s;
}
  
.delay-time04{
  animation-delay: 2s;
}
  /*　オープニングCSS　終わり　　　--------------------------------------------------------------*/

  /*readmore css  */
.readmore {
    padding-top: 30px;
    text-align:center;
}
  
.readmore a{
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  position: relative;
  display: inline-block;
}
  
.readmore a::before, .readmore a::after {
  content: '';
  width: 35px;
  height: 30px;
  position: absolute;
    transition: width .3s ease-in-out,height .3s ease-in-out; /*マウスが離れた時の指定*/
}
  
.readmore a::before {
  border-left: solid 5px #fff;
  border-top: solid 5px  #fff;
  top: 0;
  left: -30%;
}
  
.readmore a::after {
  border-right: solid 5px  #fff;
  border-bottom: solid 5px  #fff;
  bottom: 0;
  right: -30%;
}
  
.readmore a:hover::before,.readmore a:hover::after { /*マウスが乗った時のアニメーション*/
    width: 160%;
    height: 99%;
    transition: width .3s ease-in-out,height .3s ease-in-out;
}




  /* レスポンシブ　*/
@media screen and (max-width :767px ){

    #wra {
        height: 50vh;
    }

    .readmore {
        margin-right: 100px;
        text-align: end;
        
    }
      

      
    
      

  }