.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

/* .scrool {
    scroll-behavior: smooth;　ページ全体にこれ記述すると内部リンクがスムーズにスクロール
} */

img {
    max-width: 100%;
   
    
 }



header {
    color: white;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
    
}

header p {
    padding-top: 10px;
    font-size: 23px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
}

header a {
    padding-top: 15px;
}

main {
    position: relative; 
}

h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
}

#yohaku {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    padding: 10px 0 0 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.8rem;
   
}

#yohaku2 {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    padding: 10px 0 0 10px;    
    font-size: 0.8rem;
    margin-bottom: 30px;
}

#yazirushi {
    position: absolute;
    top :90px;
    font-size: 0.8rem;


}



.formsample p{
    margin-top: 3px;
    margin-bottom: 5px;

}

.input-text {
    margin: 10px 0 10px 0;
    border: 1px dashed black;
    padding-left: 10px;
}

.input-text input{
    border: 1px solid black;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    
}

.input-radio {
    margin-bottom: 10px;
    border: 1px dashed black;
    padding-left: 10px;
}

.input-radio input {
    margin-right: 5px;
}

.select-box {
    border: 1px dashed black;
    padding:0 0 5px 10px;
    margin-bottom: 10px;

}

.select-box select{
    border: 1px dotted black;
    text-align: center;
    width: 80px;
    height: 25px;
    
}

.text-area {
    border: 1px dashed black;
    padding-left: 10px;
    margin-bottom: 10px;

}

.text-area textarea {
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    resize:none;  /* リサイズ禁止　*/
} 

.button {
    border: 1px dashed black;
    padding:10px 0 0 10px;
    margin-bottom: 10px;
    height: 100px;
    margin-bottom: 10px;

}

.button input {
    padding :10px 0 10px 0 ;
    color: black;
    background-color: hwb(0 79% 13%);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 3px grey;
    position:relative;
    top: -2px;
}

.button input:active {
 box-shadow: 0 1px gray;
 top:1px;
}

.font-ex a {
    color: #4169e1;
    font-weight: bold;
    font-size: 0.9rem;
}

.font {
    border: 1px dashed black;
    padding-left: 10px; 
    margin: 0 0 10px 0;
}

.gothic {
    font-family: sans-serif;
    font-weight: bold;
}

.googlefont {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.tbox {
    width: 165px;
    height: 150px;
    border: 1px solid black;
    margin-right: 5px;
}

.lineheiht{
    display: flex;
    margin-bottom: 10px;
}

.lineheihtbox1 {
    line-height: 1.5;
} 

.lineheihtbox2 {
    line-height: 1.0;
} 

.bbox {
    width: 120px;
    height: 100px;
    padding: 5px 0 0 5px;
    font-size: 12px;
}

.border {
    display: flex;
    justify-content: space-between; /*boxを均等配置*/
    
}

.solid {
    border: medium solid black;
}

.double {
    border: medium double black;
}

.groove {
    border: 10px groove yellow;
}

.ridge {
    border: 10px ridge yellow;
}

.inset {
    border: 10px inset yellow;
}

.outset {
    border: 10px outset yellow;
}

.dashed {
    border: 1px dashed black;
}

.dotted {
    border: 1px dotted black;
}

/*backgroundでマーカー効果*/
.border-marker h1{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(transparent 50%,#ff6 50%);
    padding-bottom: .25rem;
}

.border-marker {
    margin-top: 10px;
}

.gijiyouso {
    margin-top: 10px;
    margin-bottom: 30px;
}

.gijiyouso ul li {
    margin-bottom: 5px;
}

.gijiyouso ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4169e1;
    display: inline-block;
    margin: 0 8px 2px 0;
}

.new::after {
    content: "NEW";
    font-size: 0.75rem;
    background: #f99;
    color:#fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
}

.new2::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #000;
    display: block;
    margin-left: 230px;
    margin-top: -10px;
  }

  

  /* note2 */
  
.flexbox {
    display: flex; /*親に対して　flex　*/
    justify-content: space-between; /*boxを均等配置*/
    margin-bottom: 30px;
}

.box {
    width: 250px;
    height: 100px;
    border: 1px solid black;
    text-align: center; /* 横位置センター　*/
    padding-top: 40px;
    margin-bottom: 20px;
}

.flex {
    margin-top: 10px;
}

.flexbox2 {
    display: flex; /*親に対して　flex　*/
    flex-direction: row-reverse;
    justify-content: space-between; /*boxを均等配置*/
    margin-bottom: 30px;
}

.flex p {
    margin-bottom: 5px;
}

.flexbox3 {
    display: flex; /*親に対して　flex　*/
    justify-content: space-between; /*boxを均等配置*/
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    margin-top: 20px;
    margin-bottom: 10px;
}

.bigbox {
    grid-column: 1/3;
    grid-row: 1/3;
}

.bigbox img{
    height: 96%;
    width: 100%;
    object-fit: cover;
    
}

.cssgrid {
    margin-bottom: 30px;
}

.cssgrid img {
    border-radius:10px;
}

/*note3*/
.area {
    height: 100vh;
    text-align: center;
    scroll-snap-align: start;
   
    
   
    
}

.area h1{ 
    font-size: 10rem;   
}

.scroolsnap {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    -ms-overflow-style: none; /*スクロールバー消すms*/
    
}

.scroolsnap::-webkit-scrollbar{
    display: none;
    /*スクロールバー消すchrome*/
}


#area2 {
    background-color: rgb(230,230,250,0.5);
    background-image: url('../images/DSCN0271.JPG');
    background-size:cover;
    background-blend-mode:screen ;

    
}

#area3 {
   text-align: center;
   padding-top: 10%;
    background-color: antiquewhite;
    -webkit-clip-path:polygon(0 0 , 100% 10% ,100% 100% , 0 80%);
    clip-path: polygon(0 0 , 100% 10% ,100% 100% , 0 80%);
    
}




.area4box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
}

.transition {
    background: cadetblue;
    color: #fff;
}

.transition:hover {
    background: #4169e1;
    transition: background 1s ease-in 1s;
     /* プロパティ　アニメーション時間　アニメーション速度やタイミング　アニメーション待ち時間　*/ 
}

.transitionNO {
    background: cadetblue;
    color: #fff;

}

.transitionNO:hover {
    background: #4169e1;
    
}

.keyframes {
    background: pink;
    animation-name: anibox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #fff;

}

@keyframes anibox {
    0%{
        background: lightsalmon;
    }

    50%{
        background: blueviolet;
    }

    100%{
        background: #4169e1;
    }
}


.jump {
    position: relative; /*←を利用　位置調整でアニメーション　*/
    animation: jumptext 2s infinite ;

}

@keyframes jumptext {
    0% ,50%,100% {
        top: 0;
    }

    25% {
        top: -.8rem;
    }

    75% {
        top:-.5rem;
    }

    
}

.flash {
    background-image: url("../images/menu6.jpg");
    background-size:cover;

} 

.boxf {
    width: 250px;
    height: 180px;
    border: 1px solid black;
    text-align: center; /* 横位置センター　*/ 

}

.boxf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxf img:hover {
    animation: img-flash 1s;
}

@keyframes img-flash {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.animate__tada {
    font-size: 2rem;
}

:root {
    --boxcolor1:#e0ffff;
    --boxcolor2:#d8bfd8;
}


.custom1 {
    background: var(--boxcolor1);
}

.custom2{
    background: var(--boxcolor2);
}



  /* note4 */

.jquery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    

}

.photo {
    width: 30%;
    margin-bottom: 20px;    

}

/* モーダルウィンドウ */
.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 11;
    padding: 2rem;
    display:none;
    background-image: url("../images/menu1.jpg");
    background-size: cover;
    background-position: center;
  }

  .modal-window2 {
    position: fixed;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    background-color: rgb(230,230,250,0.6);
    border-radius: 5px;
    z-index: 12;
    display:none;
    text-align: center;
    padding-top: 5px;
    
  }

  .modal-window3 {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 22, 0.8);
    z-index: 1;
    display:none;
        
  }


.kasen {
    height: 30px;


}

 .kasen a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
.kasen a::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    opacity: 1;
    visibility: visible;
    transition: .1s;
  }

.kasen a:hover::after {
    bottom: -2px;
    opacity: 1;
    visibility: hidden;
  }


.arrow{
    position: relative;
    padding: 0 0 0 16px;
    
}
.arrow::before{
    content: "";
    position: absolute;
    top: 50%;   /* 縦軸をセンタリングする */ 
    left: 0;
    transform: translateY(-50%);   /* 縦軸をセンタリングする */  
    border: 5px solid transparent;
    border-left: 8px solid #555;   /* 好みで色を変えてください */  
}

.sankaku {
    height: 60px;
}


.slit {
    
    background-attachment:fixed;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-top: 30px;

   
}

.blind {

    background-image: url("../images/DSCN0271.JPG");
    background-color: #fff;
  
    
}

.slitblind {
    height: 500px;
    padding: 50px 30px 50px 30px;
}

.frame-box-001 {
	padding: 30px;
	position: relative;
}

.frame-box-001::before, .frame-box-001::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
    transition: width 1s ease-in-out,height 1s ease-in-out; /*マウスが離れた時の指定*/
}

.frame-box-001::before {
	border-left: solid 2px #000000;
	border-top: solid 2px #000000;
	top: 0;
	left: 0;
}

.frame-box-001::after {
	border-right: solid 2px #000000;
	border-bottom: solid 2px #000000;
	bottom: 0;
	right: 0;
}

.frame-box-001:hover::before,.frame-box-001:hover::after { /*マウスが乗った時のアニメーション*/
    width: 100%;
    height: 100%;
    transition: width 1s ease-in-out,height 1s ease-in-out;
}


/* *****************************************/





    
 

